.token-container {
  height: 200px;
  width: 370px;
  overflow-y: auto;
  background-color: #5c5c5c;
  position: relative;
  padding: 0 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  color: white;
}

.token-text {
  text-wrap: wrap;
  width: auto;
  word-break: break-all;
  text-align: center;
}

.decoded {
  text-align: left;
  font-weight: 700;
  color: rgb(4, 255, 0);
}
.at-container {
  position: relative;
  width: fit-content;
  align-self: center;
}
